.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
@media (max-width: 700px) {
    .list {
        max-width: 100%;
        overflow-x: clip;
        gap: 20px 0;
        justify-content: space-between;
    }
}