.input {
    width: 220px;
    height: 40px;
    outline: none;
    border-radius: 7px;
    border: 1px solid var(--border-color);
    padding: 10px;
    margin-top: 10px;
}
.input::placeholder {
    font-style: italic;
    font-size: 1rem;
}