.dropdown {
    border-radius: 7px;
    background: white;
    width: 220px;
    height: 40px;
    border: 1px solid var(--border-color);
    font-size: 1rem;
    outline: none;
    padding: 10px;
    margin-top: 10px;
}
.dropdown:hover {
    background: var(--hover-color);
}
.items_block {
    position: absolute;
    background: white;
    width: 220px;
    border: 1px solid var(--border-color);
    border-radius: 0 0 7px 7px;
    border-top: none;
    font-size: 1rem;
}
.items {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    background: white;
    font-size: inherit;
    outline: none;
}
.items:hover {
    background: var(--hover-color);
}